*{
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    background-color: rgb(131, 129, 129);

}

main{
    width: 400px;
    padding: 20px 20px ;
    background-color: rgb(92, 132, 170);
    margin: 0 auto;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
}


table, th, td {
    border: 3px solid rgb(82, 101, 145);
    border-collapse: collapse;
    margin-top: 50px;
    border-radius: 8px;
}

th, td {
    background-color: #96D4D4;
    padding: 3px 15px 3px 15px ;
    text-align: center;
    
}

.center{
    text-align: center;
}
.err{
    background-color: rgb(108, 204, 207);
    padding: 8px 18px 8px 8px ;
    text-align: center;
    color: rgb(94, 93, 93);
    border-radius: 8px;
    

}
.err ul {
    list-style: none;
}

.form-control{
    margin-top: 15px;
    width: 200px;
    height: auto;
    padding: 0px;

}
.names{
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.emails{
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 8px;
    outline: none;

}
.websites{
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 8px;
    outline: none;

}
.comments{
    width: 380px;
    height: 150px;
    border: none;
    border-radius: 8px;
    outline: none;

}
.status{
    width: 380px;
    height: 25px;
    border: none;
    border-radius: 8px;
    border-inline: none;
    outline: none;

}
.laws{
    padding: 0px 0px 10px 0px ;
}

.sub{
    display: flex;
    /* align-items: center; */
}
.submits{
    /* padding: 5px 5px ;
    align-items: center; */
    width: 70px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: 8px;
    
}

